﻿@model DniproFuture.Models.Projects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>Details</h2>

    <div>
        <h4>Projects</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Sum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NeedSum)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NeedSum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Done)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Done)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinishDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>