﻿@model DniproFuture.Models.NeedHelpInputModel

@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h2>Create</h2>
    @using (Html.BeginForm("Create", "NeedHelps1", FormMethod.Post, new {@enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NeedHelp</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})


            @for (int i = 0; i < ViewBag.Languages.Count; i++)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].Language.LanguageCode, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.WhoNeed[i].Language.LanguageCode, new {htmlAttributes = new {@class = "form-control", @Value = ViewBag.Languages[i].LanguageCode}})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WhoNeed[i].FirstName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WhoNeed[i].FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].LastName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WhoNeed[i].LastName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WhoNeed[i].LastName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].Patronymic, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WhoNeed[i].Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WhoNeed[i].Patronymic, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].Address, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WhoNeed[i].Address, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WhoNeed[i].Address, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WhoNeed[i].About, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WhoNeed[i].About, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WhoNeed[i].About, "", new {@class = "text-danger"})
                    </div>
                </div>
            }



            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.Sum, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatNeed.Sum, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WhatNeed.Sum, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.NeedSum, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatNeed.NeedSum, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WhatNeed.NeedSum, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.Done, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.WhatNeed.Done)
                        @Html.ValidationMessageFor(model => model.WhatNeed.Done, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.Birthday, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatNeed.Birthday, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WhatNeed.Birthday, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.StartDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatNeed.StartDate, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WhatNeed.StartDate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.FinishDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatNeed.FinishDate, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.WhatNeed.FinishDate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WhatNeed.Photos, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input accept="image/*" id="Photos" multiple="multiple" name="photos" type="file"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>