﻿@model DniproFuture.Models.NewsInputModel
@{
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h2>Create</h2>
    @using (Html.BeginForm("Create", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>News</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @for (var i = 0; i < ViewBag.Languages.Count; i++)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Locals[i].Language.LanguageCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Locals[i].Language.LanguageCode, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Languages[i].LanguageCode } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Locals[i].Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Locals[i].Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Locals[i].Text, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.Locals[i].Text, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            }


            <div class="form-group">
                @Html.LabelFor(model => model.NewsInfo.Images, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input accept="image/*" id="Images" multiple="multiple" name="images" type="file" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewsInfo.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewsInfo.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewsInfo.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>