﻿<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.AboutTitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <a href="#AboutModal" class="portfolio-link" data-toggle="modal">
                                <img class="img-circle img-responsive" src="Content/img/about/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@ViewRes._HomeStrings.About_1_Date</h4>
                                <h4 class="subheading">@ViewRes._HomeStrings.About_1_SubTitle</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@ViewRes._HomeStrings.About_1_Txt</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>@MvcHtmlString.Create(ViewRes._HomeStrings.AboutFuture)</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- About Modal-->
<div class="portfolio-modal modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- About us Details Go Here -->
                        <h2>@ViewRes._HomeStrings.AboutTitle</h2>
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.AboutUsModalTxt)
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>