﻿<!--Clients Section -->
<section id="clients" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.ClientsTitle</h2>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="http://s1.tchkcdn.com/fun/g2/s/1/7/9/1/14791/220409_209e.jpeg" alt="..." height="400">
                            <div class="carousel-caption">
                                <h3>Soft kitty</h3>
                                <p>Warm kitty</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://s1.tchkcdn.com/fun/g2/s/1/7/9/1/14791/220409_209e.jpeg" alt="..." height="400">
                            <div class="carousel-caption">
                                <h3>Little ball of fur</h3>
                                <p>Happy kitty</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://s1.tchkcdn.com/fun/g2/s/1/7/9/1/14791/220409_209e.jpeg" alt="..." height="400">
                            <div class="carousel-caption">
                                <h3>Sleepy kitty</h3>
                                <p>pur pur</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
