﻿@model DniproFuture.Models.ContactsOutputModel

<!--Contacts Section-->
<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.ContactsTitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Ajax.BeginForm("Contact", new AjaxOptions()
                {
                    Url = Url.Action("ContactAjax"),
                    OnSuccess = "OnSuccessComment",
                    HttpMethod = "POST"
                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = @ViewRes._HomeStrings.ContactsNamePH } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = @ViewRes._HomeStrings.ContactsEmailPH } })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = @ViewRes._HomeStrings.ContactsPhonePH } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="@ViewRes._HomeStrings.ContactsMessagePH" id="message" required data-validation-required-message="Please enter a message." name="Message"></textarea>
                                <p class="help-block text-danger">@Html.ValidationMessageFor(model => model.Message)</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <p class="help-block text-danger">@Html.ValidationSummary()</p>
                            <div id="success"></div>
                            <button type="submit" id="sendButton" class="btn btn-xl" @*data-toggle="modal" data-target="#DoneModal"*@>@ViewRes._HomeStrings.ContactsBtnTxt</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="DoneModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Message send succesfully</h4>
                </div>
                <div class="modal-body">
                    <h2 class="fromModal"></h2>
                    <h4 class="emailModal"></h4>
                    <h4 class="phoneModal"></h4>
                    <h4 class="messageModal"></h4>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>
