﻿<!--HelpNow section-->
<section id="helpNow" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.HelpNowTitle</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="col-md-6 col-md-offset-3">
                    <img src="@Url.Content("~/Content/img/NeedHelp/")" class="img-responsive img-circle" />
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="service-heading">@ViewRes._HomeStrings.HelpNowTxt</h4>
                <div class="portfolio-link btn btn-xl" data-toggle="modal" href="#HelpNowModal">
                    @ViewRes._HomeStrings.HelpNowBtnTxt
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HelpNow Modal -->
<div class="portfolio-modal modal fade" id="HelpNowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- HelpNow Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HelpNowTitle</h2>
                        <img class="img-responsive" src=@Url.Content("~/Content/img/NeedHelp/") alt="">
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.HelpNowModalTxt)
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

