﻿<!-- How help Section -->
<section id="how" class="portfolio bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.HowTitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#HowModalMoney" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/Content/img/How/money.png")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>@ViewRes._HomeStrings.HowMoney</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#HowModalClothing" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/How/Clother.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>@ViewRes._HomeStrings.HowClothing</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#HowModalInfo" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/How/Info.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>@ViewRes._HomeStrings.HowInformation</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#HowModalOther" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/How/Other.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>@ViewRes._HomeStrings.HowOther</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- How help Modals -->
<!-- Money -->
<div class="portfolio-modal modal fade" id="HowModalMoney" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HowMoney</h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        <img class="img-responsive" src="Content/img/How/Money.png" alt="">
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.HowMoneyModalTxt)
                        </div>                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Clothing -->
<div class="portfolio-modal modal fade" id="HowModalClothing" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HowClothing</h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        <img class="img-responsive img-centered" src="Content/img/How/Clother.png" alt="">
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.HowClothingModalTxt)
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Info -->
<div class="portfolio-modal modal fade" id="HowModalInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HowInformation</h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        <img class="img-responsive img-centered" src="Content/img/How/Info.png" alt="">
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.HowInfoModalTxt)
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Other -->
<div class="portfolio-modal modal fade" id="HowModalOther" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HowOther</h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        <img class="img-responsive img-centered" src="Content/img/How/Other.png" alt="">
                        <div class="text-justify">
                            @MvcHtmlString.Create(ViewRes._HomeStrings.HowOtherModalTxt)
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
