﻿@using DniproFuture.Models
@model DniproFuture.Models.HelpNowOutputModel

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_OtherLayout.cshtml";
}
<div class="container customContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="modal-body">
                    <!-- Details Go Here -->
                    <h2>@Model.FullName</h2>
                    <div class="text-justify">
                        <div class="text-center">
                            <img class="img-responsive" src="@Url.Content("~/Content/img/NeedHelp/" + Model.Photos[0])" alt="">
                            <p class="text-muted">@Model.Age лет (@Model.Birthday.ToShortDateString())</p>
                            @{int percent = (int)((Model.Summ / Model.NeedSum) * 100);}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @string.Format("{0}/{1}", @Model.Summ, @Model.NeedSum)
                                </div>
                            </div>
                        </div>
                        @MvcHtmlString.Create(Model.About)
                    </div>
                    @if (Model.Photos.Count != 1)
                    {
                        <div class="row col-lg-6 col-lg-offset-3">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    @for (int j = 1; j < Model.Photos.Count; j++)
                                    {
                                        <li data-target="#carousel-example-generic" data-slide-to="@j"></li>
                                    }
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="@Url.Content("~/Content/img/NeedHelp/" + Model.Photos[0])" alt="..." height="400">
                                    </div>
                                    @for (int j = 1; j < Model.Photos.Count; j++)
                                    {
                                        <div class="item">
                                            <img src="@Url.Content("~/Content/img/NeedHelp/" + Model.Photos[j])" alt="..." height="400">
                                        </div>
                                    }
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <a href="@Request.UrlReferrer"><div type="button" class="btn btn-primary"><i class="fa fa-backward"></i>Назад</div></a>
        </div>
    </div>
</div>
