﻿@using System.Diagnostics
@using System.Web.UI.WebControls
@using DniproFuture.Models
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<HelpNowOutputModel>

<link href="/Content/css/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_OtherLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">@ViewRes._HomeStrings.DonationTitle</h2>
            <h3 class="section-subheading text-muted">@ViewRes._HomeStrings.DonationSubTitle</h3>
        </div>
    </div>
    @{
        Debug.WriteLine(Model.Count);
    }


    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            @for (int j = 0; j < 3; j++)
            {
                int index = i + j;

                if (index < Model.Count)
                {
                    HelpNowOutputModel help = Model[index];
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="@Url.Content("~/Content/img/NeedHelp/" + help.Photos[0])" class="img-responsive img-circle" alt="">
                            <h4>@help.FullName</h4>
                            <p class="text-muted">@help.Age лет (@help.Birthday.ToShortDateString())</p>
                            @{ int percent = (int)((help.Summ / help.NeedSum) * 100); }
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @string.Format("{0}/{1}", @help.Summ, @help.NeedSum)
                                </div>
                            </div>
                        </div>
                        <p class="text-right"><a align="right" href="@Url.Action("NeedHelpDetails", new { id = help.Id })">@ViewRes._HomeStrings.NewsDetails</a>
                        </p>
                    </div>
                }
                else
                {
                    break;
                }
            }
        </div>
    }
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>


