﻿@using DniproFuture.Models
@model DniproFuture.Models.NewsOutputModel[]
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.NewsTitle</h2>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                if (Model[i] != null)
                {
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="@Url.Content("~/Content/img/News/" + Model[i].Photo[0])" class="img-responsive img-circle" alt="">
                            <h5>@Model[i].Title</h5>
                            <p class="text-muted text-justify">@Model[i].ShortText ...</p>
                            <p class="text-muted text-left">@Model[i].Date.ToShortDateString()</p>
                            <p class="text-right"><a align="right" data-toggle="modal" href="#NewsModal_@i">@ViewRes._HomeStrings.NewsDetails</a></p>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary center-block btn-xl" data-dismiss="modal" onclick="location.href='@Url.Action("NewsIndex")';">@ViewRes._HomeStrings.NewsMore</button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</section>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="portfolio-modal modal fade" id="NewsModal_@i" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Details Go Here -->
                            <h2>@Model[i].Title</h2>
                            <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                            <div class="text-justify">
                                <img class="img-responsive" src=@Model[i].Photo[0] alt="">
                                @MvcHtmlString.Create(Model[i].Text)
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


