﻿<!-- Partners Section -->
<section id="partners" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.PartnersTitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="@Url.Content("~/Content/img/portfolio/roundicons.png")" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Organization1</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Organization2</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Organization3</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="Content/img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Organization4</h4>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="portfolio-link btn btn-xl" data-toggle="modal" href="#PartnersModal">
                @ViewRes._HomeStrings.PartnersAll
            </div>
        </div>
    </div>
</section>

<!-- Partners Modal -->
<div class="portfolio-modal modal fade" id="PartnersModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- All Partners Go Here -->
                        <h2>@ViewRes._HomeStrings.PartnersAll</h2>
                        <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>